server {
  listen {{ vhost['port'] }};
{% if 'server_aliases' in vhost %}
  server_name {{ vhost['server_aliases']|join(' ') }};
{% endif %}
{% if charset | default('') %}
  charset {{ charset }};
{% endif %}
{% if vhost['docroot'] %}
  root {{ vhost['docroot'] }};
{% endif %}
  client_max_body_size {{ max_upload_size }};

  # access_log /var/log/nginx/{{ name }}.access.log;
  error_log /var/log/nginx/{{ name }}.error.log;
  
  # Enable compression, this will help if you have for instance advagg module
  # by serving Gzip versions of the files.
  gzip_static on;

  location = /favicon.ico {
          log_not_found off;
          access_log off;
  }

  location = /robots.txt {
          allow all;
          log_not_found off;
          access_log off;
  }

  # Very rarely should these ever be accessed outside of your lan
  location ~* \.(txt|log)$ {
          allow 192.168.0.0/16;
          deny all;
  }

  location ~ \..*/.*\.php$ {
          return 403;
  }

  # No no for private
  location ~* /sites/default/files/private {
          internal;
  }

  ## Regular private file serving (i.e. handled by Drupal).
  location ^~ /system/files/ {
      ## For not signaling a 404 in the error log whenever the
      ## system/files directory is accessed add the line below.
      ## Note that the 404 is the intended behavior.
      log_not_found off;
      access_log off;
      expires 30d;
      try_files $uri @rewrite;
  }


  # Block access to "hidden" files and directories whose names begin with a
  # period. This includes directories used by version control systems such
  # as Subversion or Git to store control files.
  location ~ (^|/)\. {
          return 403;
  }

  location / {
          # This is cool because no php is touched for static content
          try_files $uri @rewrite;
  }

  location @rewrite {
          {% if settings_source == 'd6.settings.php.erb' %}
          # For Drupal 6 and below:
          # Some modules enforce no slash (/) at the end of the URL
          # Else this rewrite block wouldn't be needed (GlobalRedirect)
          rewrite ^/(.*)$ /index.php?q=$1;
          {% else %}
          # For D7 and above:
          # Clean URLs are handled in drupal_environment_initialize().
          rewrite ^ /index.php;
          {% endif %}
  }

  location ~ \.php$ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    #NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
    include fastcgi_params;
    fastcgi_buffer_size {{ vhost['fastcgi_buffer_size'] }};
    fastcgi_buffers {{ vhost['fastcgi_buffers'] }};
    fastcgi_busy_buffers_size {{ vhost['fastcgi_busy_buffers_size'] }};
    fastcgi_pass   unix:/var/run/{% if vhost['php_sock'] -%}{{ vhost['php_sock'] }}{% endif -%};
    fastcgi_param SCRIPT_FILENAME $request_filename;
    fastcgi_intercept_errors on;
  }

  # Fighting with Styles? This little gem is amazing.
  {% if files_directory | default('') %}
  location ~ ^{{ files_directory }} {
  {% elif settings_source == 'd6.settings.php.erb' %}
  # This is for D6
  location ~ ^/sites/.*/files/imagecache/ {
  {% else %}
  # This is for D7 and D8
  location ~ ^/sites/.*/files/styles/ {
  {% endif %}
          try_files $uri @rewrite;
  }

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
          expires max;
          log_not_found off;
  }
    
  # deny access to .htaccess files, if Apache's document root
  # concurs with nginxs one
  location ~ /\.ht {
    deny  all;
  }    
}
