#!/bin/bash -x
SITENAME={{ name }}
ENVIRONMENT={{ deploy_env }}
AWSBUCKET={{ nmddrupal['aws_bucket'] }}
AWSBACKUPS=5
TIMESTAMP=`date +%s`
ARCHIVENAME=$SITENAME/$ENVIRONMENT-$SITENAME-$TIMESTAMP
ARCHIVEFILE=$ARCHIVENAME.tar.gz
DOCROOT={{ docroot }}
HOST={{ nmdhosting['db_host'] }}
DATABASE={{ nmdhosting['db_name'] }}
USERNAME={{ nmddb['dbcreate_user'] }}
PASSWORD='{{ nmddb['dbcreate_user_password'] }}'
AWS_ACCESS_KEY='{{ nmddrupal["aws_access_key"] }}'
AWS_SECRET_KEY='{{ nmddrupal["aws_secret_key"] }}'

mkdir -p /tmp/$ARCHIVENAME/docroot
rsync -kavzP $DOCROOT/. /tmp/$ARCHIVENAME/docroot
rm -rf /tmp/$ARCHIVENAME/docroot/.git
mysqldump -h $HOST -u $USERNAME -p$PASSWORD $DATABASE > /tmp/$ARCHIVENAME/$SITENAME.sql
tar -C /tmp/$ARCHIVENAME -czf /tmp/$ARCHIVEFILE .
s3upload -l DEBUG -k $AWS_ACCESS_KEY -sk $AWS_SECRET_KEY -f -np 8 -s 100 /tmp/$ARCHIVEFILE s3://$AWSBUCKET/$ARCHIVEFILE
rm -rf /tmp/$SITENAME*